<!-- Start Landing Page -->

<div class="landing-page">
    <div class="container">
      <div class="header-area">
        <div class="logo" src="">
          <img src="assets/medicine.png" style="width: 28px;height: 28px;">
          <span style="text-decoration: none;"><a href="" style="color: #4c047c;"><b>Book<span style="color:#ebbb14">My</span>Doc</b></a></span>
        </div>
        <ul class="links">
          <li (click)="Logout()" class="doc" style="font-size: 18px;">Logout</li>
        </ul>
      </div>
      <div class="username" style="color: #4c047c;float: right;">
        Welcome,<span style="color: #ebbb14;"> {{ username }}</span>
      </div>
    </div>
    <br>
    <br>
    <table class="table" style="color: #4c047c;">
        <thead>
          <tr>
            <th scope="col">Patient</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Status</th>
            <th scope="col">Cancel Appointment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.patient }}</td>
            <td>{{ appointment.datetime | date:'MMM d, yyyy h:mm a' }}</td>
            <td>
              <button class="btn btn-sm" (click)="visitAppointment(appointment)">Visited</button>
            </td>
            <td>
              <button class="btn btn-sm" (click)="cancelAppointment(appointment)">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
      
  </div>
  
  <!-- End Landing Page -->
  
  