* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
  }
  
  /* Start Landing Page */
  
  .landing-page {
    position: relative;
  }
  
  .landing-page .header-area {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 0;
    position: relative;
  }
  
  .landing-page .header-area .logo {
    font-style: italic;
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
    width: 300px;
    color: #4c047c;
  }
  @keyframes hang-letters {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Apply the animation to the logo div */
  .logo {
    animation-name: hang-letters;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  
  /* Style the individual
  /* Style the individual letters */
  .logo b {
    display: inline-block;
    transform: translateY(-10px);
    opacity: 0;
    animation-name: hang-letters;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    }
    
    /* Add a delay to each letter to create the hanging effect */
    .logo b:nth-child(1) {
    animation-delay: 0.8s;
    }
    .logo b:nth-child(2) {
    animation-delay: 0.9s;
    }
    .logo b:nth-child(3) {
    animation-delay: 0.10s;
    }
    .logo b:nth-child(4) {
    animation-delay: 0.11s;
    }
    .logo b:nth-child(5) {
    animation-delay: 0.12s;
    }
    .logo b:nth-child(6) {
    animation-delay: 0.13s;
    }
     