<!-- Start Landing Page -->

<div class="landing-page">
    <div class="container">
      <div class="header-area">
        <div class="logo" src="">
          <img src="assets/medicine.png" style="width: 28px;height: 28px;">
          <span style="text-decoration: none;"><a href="" style="color: #4c047c;"><b>Book<span style="color:#ebbb14">My</span>Doc</b></a></span>
        </div>
      </div>
      <div style="margin-top:90px;margin-left: 380px;">
        <img src="assets/pnf.gif" alt="">
    </div>
    </div>
  </div>
  
  <!-- End Landing Page -->
  
  